@white : #fff;
@hover : #e8500e;
@text : #414551;


@Mont : 'Montserrat', sans-serif;
@Roboto : 'Roboto Slab', serif;
@Open : 'Open Sans', sans-serif;
@What : 'whatever it takes', sans-serif;

@font-face { 
  font-family: 'whatever it takes', sans-serif; 
  src: url('../font/whatever it takes bold.ttf');      
}
@font-face { 
  font-family: 'whatever it takes', sans-serif; 
  src: url('../font/whatever it takes.ttf');      
}

.fonts (@fontFamily, @fontSize, @font-weight) {
	font-family: @fontFamily;
	font-size: @fontSize;
	font-weight: @font-weight;
}

.first {
	background-color: #121924;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	header {
		background: url('../img/headerS_bg.png') no-repeat;
		background-size: cover;
		padding-top: 22px;
		padding-bottom: 30px;
		ul {
			li {
				padding-left: 14px;
				padding-right: 14px;
				padding-top: 10px;
				.active {
					color: @hover;
				}
				a {
					color: #fcfbf9;		
					text-decoration: none;
					.fonts (@Mont, 12px, bold);
					&:hover {
						color: @hover;
					}
				}
			}
		}
	}
	.chooseSteps {
		background: #fcfbf9;
		padding-top: 15px;
		padding-bottom: 15px;
		.step {
			h5 {
				display: inline-block;
				.fonts (@Open, 12px, 300);
				color: @text;
				margin: 0;
			}
			p {
				display: inline-block;
				.fonts (@Open, 12px, 500);
				color: @text;
				background-color: #faf9f7;
				height: 32px;
				width: 32px;
				border-radius: 50%;
				border: 1px solid #ededed;
				padding-top: 7px;
				text-align: center;
				margin: 0;
				margin-right: 20px;
			}
			p.activeStep {
				color: @hover;
			}
		}
	}
	.search {
		background-color: #121924;
		padding-bottom: 35px;
		.searchFood {
		text-align: center;
		margin-top: 110px;
		float: none !important;
		margin-left: auto !important;
		margin-right: auto !important;
			h3 {
				color: @white;
				letter-spacing: 4px;
				.fonts (@Roboto, 42px, normal);
				
			}
			p {
				color: @white;
				letter-spacing: 1px;
				.fonts (@Open, 14px, normal);
				margin-bottom: 35px;
			}
			form {
				margin-top: 28px;
				input {
					max-width: 344px;
					width: 100%;
					height: 55px;
					border-radius: 3px;
					border: none;
					text-indent: 27px;
					margin-right: 5px;
					.fonts (@Open, 15px, #bbbcc0);
				}
				::-webkit-input-placeholder {color:#bbbcc0;}
				::-moz-placeholder          {color:#bbbcc0;}/* Firefox 19+ */
				:-moz-placeholder           {color:#bbbcc0;}/* Firefox 18- */
				:-ms-input-placeholder      {color:#bbbcc0;}
				
				button {
					border-radius: 3px;
					padding: 18px 32px 18px 48px;
					background-color: @hover;
					color: @white;
					border: none;
					.fonts (@Open, 15px, normal);
					img {
						margin-left: 35px;
					}
				}
			}
		}
	}
}
.restList {
	margin-top: 100vh;
	background-image: url('../img/popularFood_bg.jpg');
	background-size: cover;
	padding-bottom: 90px;
	.sort {
		padding: 18px 0;
		background-color: #fcfbf9;
		border-bottom: 1px solid #e6e6e6;
		h5, option {
			color: @text;
			.fonts (@Open, 14px, normal);
		}

		.left {
			float: left;
		}
		.right {
			float: right;
			select {
				border: none;
				background-color: inherit;
				}
		}
	}
}

@media screen and (max-width:479px) {
	.first {
		position: static;
		text-align: center;
		.chooseSteps {
			.step {
				margin-top: 15px;
				text-align: left;
			 }
		}
		.search {
			.searchFood {
				margin-top: 35px;
				padding-bottom: 35px;
				h3 {
					letter-spacing: 0;
					margin-bottom: 23px;
					font-size: 38px;
				}
				p{
					letter-spacing: 0px;
					margin-bottom: 30px;
				}
				form button {
					margin-top: 15px;
				}
			}
		}
	}
	.popularFood {
		margin-top: 0;
	}
	footer {
		text-align: center;
		.row:last-child {
			margin-top: 10px;
		}		
		.main {
			float: none !important;
		}
		.left {
			margin-right: 0 !important;
		} 
		.row:last-child h5 {
			margin-top: 15px;
		}
	}
}

@media screen and (min-width:480px) and (max-width:991px) {
	.first {
		position: static;
		text-align: center;
		.chooseSteps {
			margin: 0 auto;
			.step {
				margin-top: 15px;
				width: 50%;
				text-align: left;
			 }
		}
		.search {
			.searchFood {
				h3 {
					letter-spacing: 0;
					margin-bottom: 23px;
				}
				p {
					letter-spacing: 0px;
					margin-bottom: 30px;
				}
				form button {
					margin-top: 15px;
				}
			}
		}
	} 
	.popularFood {
		margin-top: 0;
	}
	footer {
		text-align: center;
		.row:last-child {
			margin-top: 10px;
		}		
		.main {
			float: none !important;
		}
		.left {
			margin-right: 0 !important;
		} 
		.row:last-child h5 {
			margin-top: 15px;
		}
	}
}

